[Desktop Entry]
Version=1.0
Type=Application
Name=Midi Sheet Music Player
GenericName=Midi Sheet Music Player
Icon=midisheetmusic
Comment=Plays MIDI music files while highlighting the piano and sheet music notes
Exec=midisheetmusic.mono.exe
Terminal=false
Categories=AudioVideo;
StartupNotify=true
MimeType=audio/x-midi;audio/midi;
